.form-wrapper {

  .container {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 20px;
  }
}

.form-header {
  position: relative;

  .form-back-arrow {
    position: absolute;
    right: 5px;

    @media (min-width: 768px) {
      right: 20px;
    }
  }
}

.ng-dirty {

  &.ng-invalid:not(form) {
    border: 2px solid #ff2a2a;
  }
}

.validation-warning {
  color:#ff2a2a;
  padding: 4px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
}