<div class="form-wrapper">
  <div class="container">
    <div class="row form-header">
      <div class="col-sm-6">
        <h1>Portal Log In</h1>
      </div>
      <div class="col-sm-6">
        <a routerLink="" class="form-back-arrow">
          <span aria-hidden="true">&laquo; Back</span>
        </a>
      </div>
    </div>

    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" [(ngModel)]="user.firstName" minlength="2" maxlength="56" id="firstName" name="firstName" required #firstName="ngModel">

            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="validation-warning">
              <div *ngIf="firstName.errors.required">
                First Name is required.
              </div>
              <div *ngIf="firstName.errors.minlength">
                First Name must be at least 2 characters.
              </div>
            </div>

          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" [(ngModel)]="user.lastName" minlength="2" maxlength="56" id="lastName" name="lastName" required #lastName="ngModel">

            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="validation-warning">
              <div *ngIf="lastName.errors.required">
                Last Name is required.
              </div>
              <div *ngIf="lastName.errors.minlength">
                Last Name must be at least 2 characters.
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="birthday">Birthday</label>
            <input type="date" class="form-control" [(ngModel)]="user.birthday"  id="birthday" name="birthday" max="{{futureDate}}" required #birthday="ngModel">
            <div *ngIf="birthday.invalid && (birthday.dirty || birthday.touched)" class="validation-warning">

              <div *ngIf="birthday.errors.required">
                Birthday is required.
              </div>
              <div *ngIf="birthday.errors.max" class="birthday-invalid">
                Birthday cannot be before today.
              </div>
            </div>

          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid" (click)="loginForm.reset()">Submit</button>

    </form>
  </div>
</div>