/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

#main-container {
  display: grid;
  grid-template-columns: 70px auto;
  height: 100%;

  #content {
    padding: 30px 50px;
    background: center / cover no-repeat url('./assets/images/background.jpg');
  }
}
